<h1>Simulated External Services</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Response Count</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
        <% @services.each do |service| %>
            <tr class="service">
                <td><%= link_to service.name, service %></td>
                <td><%= service_url(service) %></td>
                <td><%= service.responses.size %></td>
                <td><%= link_to 'Edit', edit_service_path(service) %></td>
                <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% if service.responses.size == 0 %>
                <tr><td class="response" colspan="5">No responses.</td></tr>
            <% else %>
                <% service.responses.each do |response| %>
                    <tr>
                        <td class="response" colspan="5">
                            <%= link_to "Response #{response.id}", service_response_path(service, response) %>: <%= response.payload %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Service', new_service_path %>
