<p id="notice"><%= notice %></p>

<p>
  <h2>Response <%= @response.id %></h2>
  <span class="service">Service: <%= @service.name %></span>
  <span>Payload: <%= @response.payload %></span>
</p>

<%= link_to 'Destroy', service_response_path(@service, @response), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', services_path %>
